// @import "reset";
/*


*/

@tailwind base;
// @tailwind components;
// @tailwind utilities;

@import "components/sidebar";
@import "components/navbar";
@import "components/main";

@import "pages/auth.scss";

html,
body {
  margin: 0;
  padding: 0;

  min-height: 100% !important;
  height: 100% !important;
}

body {
  font-family: "Montserrat", sans-serif;
  @apply bg-gray-200;
}
